:root {
  --dark: #333;
  --light: #bbb;

  --background: var(--dark);
  --text: var(--light);

  --ui: 0.6;

  --highlight: #39409b;
  --debug: #399b95;
  --warning: #9b9539;
  --error: #9b3940;
}

.light {
  --background: var(--light);
  --text: var(--dark);
}

/* Colours */

.debug {
  color: var(--debug);
}

.warning {
  color: var(--warning);
}

.error {
  color: var(--error);
}

.critical, .alert, .emergency {
  background-color: var(--error);
  color: var(--dark);
}

/* General */

body {
  font-family: monospace;
  color: var(--text);
  background-color: var(--background);

  margin: 0;
  padding: 0 0 3.5rem 0;
}

.ui {
  background-color: var(--background);
  filter: brightness(var(--ui));
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th {
  position: -webkit-sticky;
  position:         sticky;
  top: 0;
  padding: .5rem;
}

tbody td {
  padding: .15rem .5rem;
  vertical-align: top;
}

tbody tr:hover {
  font-weight: bold;
}

table .src { width: 10em; text-align: right; display: none; }
table .tms { width: 15em; }
table .lvl { width: 6em; }

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: block;
}

label {
  -webkit-user-select: none;
          user-select: none;
}
